:root {
    --background-color: black;
    --text-color: white;
    --color-blue: #add8e6;
    --color-blue-pulse: #72a2c8;
    --color-yellow: #f0f000;
    --color-yellow-pulse: #f0f0a0;
    --color-red: #ffabab;
    --color-red-pulse: #c87272;
    --color-gray: #808080;
    --color-gray-pulse: #a0a0a0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}